html,body {
	width: 100%;

}
body {
	background-color: #F0F9D2;
	background-image: url('/images/Untitled.png');
	background-repeat: repeat;
	color: black;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "helvetica neue", helvetica;
	font-weight: 200;
	font-size:1.1em;
	-webkit-font-smoothing: antialiased;
	
}

#header {
	padding: 20px 20px 0;
	height: 80px;
	width: 100%;
	margin: 0;
	background-color: #100a0a;
	background-image: url('/images/scap.png');
	background-repeat: repeat-x;
	font-family: cambria;
	font-size: 1.1em;
	letter-spacing: 0.2em;
}

#header a {
	color: #EC8;
	text-decoration: none;
}

#body {
	padding: 20px;
}

#body h2 {
	color: #600;
}

#text {
	float: left;
}

#graph {
	float: right;
	background-color: #ccc;
	height: 600px;
	width: 600px;
}