%h2= "#{@wine}"
#ratings
    -if @wine.tastings.size > 0
        %ol
            -@wine.tastings.each do |t|
                %li= t.id
    -else
        %p 
            No tastings yet, 
            = link_to 'uncork a bottle!', new_wine_tasting_path(@wine)
#graph
    